
/* Screen phone */
@media only screen and (max-width:426px) {

   
        
    body{
        display:inline-block;
        overflow-x: hidden;
        margin: 0%;
        font-family: 'object_sansregular';
     }
     
     a{
        color: black;
        text-decoration: none;
       }
     
     nav{
      padding: 3% 0% 3% 0%;
      margin: 0% 16% 10% 16%;
      mix-blend-mode: normal;
      z-index: 100;
      top: 3%;
      position: sticky;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
     }

     #container{
        box-sizing: content-box;
     }

     #part1{
        background-attachment: fixed;
        background-image: url("../asset/Beauty2.png");
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 170%;
     }

    #headerHB img{
        margin: 10% 0% 10% 5%;
        z-index: 100;
        cursor: default;
        display: flex;
        flex-direction: row;
    }

    /* PART ANIMATION */

    .logoScale img{
    width: 175px;
    transition: 1s all ease;
  }
  
    .logoScale img.active{
    width: 125px;
    
    }
    
    #headerC{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
      }
      #headerC a,
      #headerC h1{
        margin: 0% 0%;
         z-index: 100;
         cursor: default;
          font-size: 30px;
          color: rgb(41, 0, 22);
          mix-blend-mode: luminosity;
          font-family: 'object_sansbold';
      }
    #headerC h2{
        color: rgb(41, 0, 22);
        mix-blend-mode: luminosity;
        margin: 0%;
        font-size: 22px;
    }
    #discoveringBox{
        
        margin: 5% 0% 70% 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;
    }
    
    
    #discover {
        font-family: 'object_sansregular';
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 30px;
        margin: 0% 0% 70% 0%;
    }
    #infoMore{
        margin: 5% 0% 0% 0%;
        font-size: 23px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        font-family: 'object_sansregular';
        align-items: flex-start;
        align-content: flex-start;
    }

    /* LIBRAIRIE /______________________________________/ */

    #library{
      background-color: rgb(255, 255, 255);
      margin: 20% 0% 0% 0%;
      padding: 25% 0% 10% 0%;
      display: flex;
      flex-wrap: wrap;
      flex-direction:row;
      justify-content: center;
      align-items: stretch;
      align-content: space-around;

  }
 #library a{
      cursor: default;
  }
  
 .blocMenus{
   text-align: center;
      font-size: 35px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: rgb(255, 255, 255);
      opacity: 0.7;
      background-color: rgb(0, 0, 0);
      width: 275px;
      height: 275px;
  }
 #logos{
     background-image: url("../asset/bobby.png");
     background-position: 100% 100%;
     background-size: 100%;
     margin: 0% 0% 0% 0%;
  }
 #webapp{
   background-image: url("../asset/spendlly.png");
   background-position: 100% 100%;
   background-size: 100%;
   margin: 0% 0% 0% 0%;
}
  #illu{
 background-image: url("../asset/multiheart.png");
 background-position: 100% 100%;
 background-size: 100%;
 margin: 0% 0% 0% 0%;
}
  #com{
 background-image: url("../asset/freshjuice.png");
 background-position: 100% 100%;
 background-size: 100%;
 margin: 0% 0% 0% 0%;
}
 #motion{
 background-image: url("../asset/bitogether.png");
 background-position: 100% 100%;
 background-size: 100%;
 margin: 0% 0% 0% 0%;
}
 #printlayout{
 background-image: url("../asset/GVine.png");
 background-position: 100% 100%;
 background-size: 100%;
 margin: 0% 0% 0% 0%;
}

  
  /* /_________________________________________________/ */
    
   #propose{
       font-size: 22px;
       background-color: rgb(255, 255, 255);
       background-image: url("../asset/heart.png");
       background-repeat: no-repeat;
       background-position: 80% 0%;
       margin: 0% 0% 0% 0%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
    }
    #lpropose{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #propose input {
       -webkit-appearance: media-mute-button;
       -webkit-appearance: caret;
       -moz-appearance: scrollbarbutton-up;
       -moz-appearance: button-bevel;
        margin: 0% 0%;
        height: 5vh;
        width: 70vw;
        color: white;
        background-color: #FF0045;
        border: none;
        border-radius: 12px;
        text-align: center;
        font-size: 15px;
        cursor: pointer;
        font-family: 'object_sansbold';
    }

     /* NEW PROJECT HERE */
    /* New Feature can modified ..*/
    #newProject{
        color: white;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    /* CONTENT CAN BE MODIFIED */
    #newContent_text{

        color: rgb(255, 255, 255);
    }
    /* CONTENT 1 */
    #overlay1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        background-color: rgba(0, 0, 0, 0.623);
    }
    #newContent_id1{
        
        margin: 0px 50px 50px 50px;
        height: 200px;
        width: 200px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("../asset/UrbanIndex.svg");
    }
    
    /* CONTENT 2 */
    #overlay2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        background-color: rgba(0, 0, 0, 0.623);
    }
    #newContent_id2{
        margin: 0px 50px 50px 50px;
        height: 200px;
        width: 200px;
        background-size: 100%;
       /*  background-color: #F93400; */
        background-repeat: no-repeat;
        background-image: url("../asset/Anon\'igme.svg");
    }
    

    /* CONTENT 3 */
    #overlay3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        background-color: rgba(0, 0, 0, 0.623);
    }
    #newContent_id3{
        margin: 0px 50px 50px 50px;
        height: 200px;
        width: 200px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("../asset/Inktober.svg");
    }



/* LOADER */
    
     #loader {
    
        text-align: center;
      
      
        }   
        #content_loader{
        
            font-size: 50px;
            color: rgb(255, 252, 80);
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid #f2f547;
             border-radius: 50%;
            border-top: 16px solid #ffffff;
            border-bottom: 16px solid #ffffff;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
          
          }


  /* TRANSITION LOGO */
  .revealLogo{
    transform: translateX(-600px);
    width: 1%;
    transition: 1s all ease;
  }
  
.revealLogo.active{
    transform: translateY(0);
    width: 14%;
  } 

/* PART ANIMATION */

#myDiv {
    z-index: 999999999;
    display: none;
  }

/*FONTS*/

@font-face {
    font-family: 'object_sansregular';
    src: url('fonts/Regular/objectsans-regular-webfont.woff2') format('woff2'),
         url('fonts/Regular/objectsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



  @font-face {
    font-family: 'object_sansbold';
    src: url('fonts/Bold/objectsans-bold-webfont.woff2') format('woff2'),
         url('fonts/Bold/objectsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
}