@media only screen and (max-width:1200px) {

    body{
        margin: 0%;
        font-family: 'object_sansregular';
     }
     
     a{
         color: black;
        text-decoration: none;
       }
    h2{
        font-size: 40px;
    } 
    #container{
        background-image: url("../../asset/eyes.png");
        background-size: 850px;
        background-repeat: no-repeat;
        background-position: -15% 100%;
    }

    #header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: nowrap;
    }

    /* HeyBob */

    #headerHB{
        margin: 10px 0px 0px 0px;
        width: 50%;
    }
    #part1{
        font-size: 35px;
    }

    /* Contact */

    #part2{
        font-size: 14px;
    }
    /* 2022 */

    #part3{
        font-size: 15px;
    }
}    
@media only screen and (min-width:1200px) {
   

    body{
        margin: 0%;
        font-family: 'object_sansregular';
     }
     
     a{
         color: black;
        text-decoration: none;
       }
    h2{
        font-size: 40px;
    } 
    #container{
        background-image: url("../asset/eyes.png");
        background-size: 850px;
        background-repeat: no-repeat;
        background-position: -15% 100%;
    }

    #header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: nowrap;
    }

    /* HeyBob */

    #headerHB{
        margin: 10px 0px 0px 0px;
        width: 50%;
    }
    #part1{
        font-size: 35px;
    }

    /* Contact */

    #part2{
        font-size: 14px;
    }
    /* 2022 */

    #part3{
        font-size: 15px;
    }

}
/*fonts*/
@font-face {
    font-family: 'object_sansregular';
    src: url('fonts/Regular/objectsans-regular-webfont.woff2') format('woff2'),
         url('fonts/Regular/objectsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'object_sansbold';
    src: url('fonts/Bold/objectsans-bold-webfont.woff2') format('woff2'),
         url('fonts/Bold/objectsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}