/* SCREEN LAPTOP */
@media only screen and (max-width:1024px) {

   
        
    body{
        display:inline-block;
        overflow-x: hidden;
        margin: 0%;
        font-family: 'object_sansregular';
     }
     
     a{
        color: black;
        text-decoration: none;
       }
     
     nav{
      padding: 3% 0% 3% 0%;
      margin: 0% 15% 10% 15%;
      mix-blend-mode: normal;
      z-index: 100;
      top: 3%;
      position: sticky;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
     }

     #container{
        box-sizing: content-box;
     }

     #part1{
        background-attachment: fixed;
        background-image: url("../asset/Beauty2.png");
        background-repeat: no-repeat;
        background-position: 150% 0%;
        background-size: 100%;
     }

    #headerHB img{
        margin: 10% 0% 10% 5%;
        z-index: 100;
        cursor: default;
        display: flex;
        flex-direction: row;
    }

    /* PART ANIMATION */

    .logoScale img{
    width: 200px;
    transition: 1s all ease;
  }
  
    .logoScale img.active{
    width: 150px;
    
    }
    
    #headerC{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
      }
      #headerC a,
      #headerC h1{
        margin: 0% 0%;
         z-index: 100;
         cursor: default;
          font-size: 35px;
          color: rgb(41, 0, 22);
          mix-blend-mode: luminosity;
          font-family: 'object_sansbold';
      }
    #headerC h2{
        color: rgb(41, 0, 22);
          mix-blend-mode: luminosity;
        margin: 0%;
        font-size: 13px;
    }
    #discoveringBox{
        margin: 5% 16% 20% 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
    }
    
    
    #discover {
        color: #000000;
        font-family: 'object_sansregular';
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 45%;
        font-size: 25px;
        margin: 0% 0% 5% 0%;
    }
    #infoMore{
        margin: 5% 0% 0% 0%;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        font-family: 'object_sansregular';
        align-items: flex-start;
        align-content: flex-start;
    }

    /* LIBRAIRIE /______________________________________/ */

    #library{
        background-color: rgb(255, 255, 255);
        padding: 10% 0%;
        margin: 15% 0% 0% 0%;
        /* padding: 5% 16% 0% 16%; */
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: center;
        align-items: stretch;
        align-content: space-around;

    }
   #library a{
        cursor: default;
    }
    
   .blocMenus{
        font-size: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        opacity: 0.7;
        background-color: rgb(0, 0, 0);
        width: 400px;
        height: 400px;
    }
   #logos{
       background-image: url("../asset/bobby.png");
       background-position: 100% 100%;
       background-size: 100%;
       margin: 0% 0% 0% 0%;
    }
   #webapp{
     background-image: url("../asset/spendlly.png");
     background-position: 100% 100%;
     background-size: 100%;
     margin: 0% 0% 0% 0%;
  }
    #illu{
   background-image: url("../asset/multiheart.png");
   background-position: 100% 100%;
   background-size: 100%;
   margin: 0% 0% 0% 0%;
  }
    #com{
   background-image: url("../asset/freshjuice.png");
   background-position: 100% 100%;
   background-size: 100%;
   margin: 0% 0% 0% 0%;
  }
   #motion{
   background-image: url("../asset/bitogether.png");
   background-position: 100% 100%;
   background-size: 100%;
   margin: 0% 0% 0% 0%;
  }
   #printlayout{
   background-image: url("../asset/GVine.png");
   background-position: 100% 100%;
   background-size: 100%;
   margin: 0% 0% 0% 0%;
  }

    
    /* /_________________________________________________/ */

    
   #propose{
       background-color: rgb(255, 255, 255);
       background-image: url("../asset/heart.png");
       background-repeat: no-repeat;
       background-position: 80% 0%;
       margin: 0% 0% 0% 0%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
    }
    #lpropose{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #propose input {
       -webkit-appearance: media-mute-button;
       -webkit-appearance: caret;
       -moz-appearance: scrollbarbutton-up;
       -moz-appearance: button-bevel;
        margin: 5% 0%;
        height: 5vh;
        width: 50vw;
        color: white;
        background-color: #FF0045;
        border: none;
        border-radius: 12px;
        text-align: center;
        font-size: 15px;
        cursor: pointer;
        font-family: 'object_sansbold';
    }

     /* NEW PROJECT HERE */
    /* New Feature can modified ..*/
    #newProject{
        margin: 10% 0%;
        color: white;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }


    /* CONTENT CAN BE MODIFIED */
    #newContent_text{

        color: rgb(255, 255, 255);
    }
    /* CONTENT 1 */
    #overlay1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        background-color: rgba(0, 0, 0, 0.623);
    }
    #newContent_id1{
        
        margin: 2%;
        height: 215px;
        width: 215px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("../asset/UrbanIndex.svg");
    }
    #newContent_id1:hover{
        transform: scale(1.1);
    }
    /* CONTENT 2 */
    #overlay2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 215px;
        width: 215px;
        background-color: rgba(0, 0, 0, 0.623);
    }
    #newContent_id2{
        margin: 2%;
        height: 215px;
        width: 215px;
        background-size: 100%;
       /*  background-color: #F93400; */
        background-repeat: no-repeat;
        background-image: url("../asset/Anon\'igme.svg");
    }
    #newContent_id2:hover{
        transform: scale(1.1);
    }

    /* CONTENT 3 */
    #overlay3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 215px;
        width: 215px;
        background-color: rgba(0, 0, 0, 0.623);
    }
    #newContent_id3{
        margin: 2%;
        height: 215px;
        width: 215px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("../asset/Inktober.svg");
    }
    #newContent_id3:hover{
        transform: scale(1.1);
    }



/* LOADER */
    
     #loader {
    
        text-align: center;
      
      
        }   
        #content_loader{
        
            font-size: 50px;
            color: rgb(255, 252, 80);
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid #f2f547;
             border-radius: 50%;
            border-top: 16px solid #ffffff;
            border-bottom: 16px solid #ffffff;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
          
          }




/* PART ANIMATION */

#myDiv {
    z-index: 999999999;
    display: none;
  }



/*FONTS*/


}

@font-face {
    font-family: 'object_sansregular';
    src: url('fonts/Regular/objectsans-regular-webfont.woff2') format('woff2'),
         url('fonts/Regular/objectsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



  @font-face {
    font-family: 'object_sansbold';
    src: url('fonts/Bold/objectsans-bold-webfont.woff2') format('woff2'),
         url('fonts/Bold/objectsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }