
@media only screen and (min-width:1024px) {

    body{
        display:inline-block;
        margin: 2%;
        font-family: 'object_sansregular';
     }
     
     a{
         color: black;
        text-decoration: none;
       }
    
    #container{
        background-image: url("../../asset/eyes.png");
        background-size: 850px;
        background-repeat: no-repeat;
        background-position: -15% 100%;
    }

    #header{
        margin: 1% 0% 0% 0%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    /* HeyBob */

    #headerHB{
        margin: 0% 5%;
        width: 50%;
    }
    #headerHB img{
        width: 160px;
        margin: 10% 0% 0% 0%;
    }
    #part1{
        margin: 10% 0% 0% 0%;
        font-size: 35px;
    }

    /* Contact */
    #headerC{
        margin: 0% 0% 0% 6%;
    }
    h2{
        font-size: 40px;
    } 
    #part2{
        margin: 10% 0% 0% 0%;
        font-size: 14px;
    }
    /* 2022 */
    #headerD{
        margin: 0% 0% 0% 2%;
    }
    h3{
        font-size: 40px;
    }
    #part3{
        margin: 15% 0% 0% 0%;
        font-size: 14px;
    }
}    

/*fonts*/
@font-face {
    font-family: 'object_sansregular';
    src: url('../fonts/Regular/objectsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/Regular/objectsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'object_sansbold';
    src: url('../fonts/Bold/objectsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/Bold/objectsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* LOADER */
#myDiv {
    z-index: 999999999;
    display: none;
  }    

  
.transition{
    
        position: relative;
        -webkit-animation-name: transitionRight;
        -webkit-animation-duration: 1s;
        animation-name: transitionRight;
        animation-duration: 1s;
      
      }

      @-webkit-keyframes transitionRight {
        from { right:1000px; opacity:0 } 
        to { right:0px; opacity:1 }
      }
      
      @keyframes transitionRight { 
        from{ right:1000px; opacity:0 } 
        to { right:0px; opacity:1 }
      }